@model WebProje.Models.BankAccount

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BankAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccountBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccountLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BankAccountID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
