@model WebProje.Models.BankAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BankAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccountBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccountLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BankAccountID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
